# data files
out*
*.vtk
log.*
*.log

#excecutive and object files
*.out
*.o

.DS_Store
*.swp

# archives
*.rar
*.zip
*.tar
*.gz
*.bz2
*.7z

# images and documents
*.png
*.jpg
*.pdf
*.eps
*.ps
*.gif
*.aux
*.bbl
*.blg
*.toc
*.ppm
