# data files
*.xlsx
!delta_u_mean_stats*xlsx
!tube/Contours_OpenFOAM_ANSYS_Experiment/*
out
*.json
*.vtk
*.vtk.*
*.vtp
*.pvtu
*.vtu
*.csv
*.vtu.*
*.pvd
*.pvsm
tracer_t=*.csv
*.ipynb_checkpoints*
permiability_*.txt
*.txt
log
log*
out*
log_*
out_*
log-*
err*
*.log
*log
.idea
dump-*
dump
*.ply.*
out-*
par
parout
restart
restart*
perf
ply
snapshot-*
data_cyl*
diff
f1
f2
f3
mass
*.sh.o*
*.sh.e*
#excecutive and object files
*.out
*.o

#MAP
*.pts
*.kdt
*.ga
*.sum
*.kml

*.DS_Store
*.swp
.qcc*
# archives
*.rar
*.zip
*.tar
*.gz
*.bz2
*.7z

# images and documents
*.png
*.jpg
*.pdf
*.eps
*.ps
*.mp4
*.mpg
*.avi
*.gif
*.wmv
*.aux
*.bbl
*.blg
*.toc
*.ppm*
